{% extends 'base.html.twig' %}



{% block content %}

<form action="">
<div>
    <label for="articleFormTitle"> Titre </label>
    <input class="form-control" type="text" id="articleFormTitle">
</div>
<div>
    <label for="articleFormContent"> Contenu </label>
    <input class="form-control" type="text" id="articleFormContent">
</div>
<div>
    <label for="articleFormTags"> Tags </label>
    <input class="form-control" type="text" id="articleFormTags">
</div>





</form>


{% endblock content %}