{% extends 'base.html.twig' %}

{% block h1 %} Ajouter un Article{% endblock %}

{% block body %}

<form action="{{ path('article_create') }}" method="POST" class="form">
<div>
    <label for="articleFormTitle"> Titre </label>
    <input class="form-control" type="text" id="articleFormTitle">
</div>
<div>
    <label for="articleFormContent"> Contenu </label>
    <input class="form-control" type="text" id="articleFormContent">
</div>
<div>
    <label for="articleFormTags"> Tags </label>
    <input class="form-control" type="text" id="articleFormTags">
</div>
<br>
<button class="btn btn-primary pull-left">Créer un article</button>
</form>





</form>


{% endblock body %}